@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Rubik";
  margin: 0px;
  padding: 0px;
}
:root {
  --primary-color: #22c09b;
  --secondary-color: #1198be;
  --accent-color: #1553aa;
  --text-color: #515151;
  --background-color: #fff;
  --other-color: #2b3686;
  --sx-color-primary: #22c09b;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Calender Component */

.sx__calendar {
  border-radius: 0;
  /* border-width: 0; */
}

.sx__week-grid__date-number {
  color: var(--text-color);
  /* background-color: var(--primary-color); */
  border-radius: 50%;
}
/* 
.sx__week-wrapper {
  position: relative;
}

.sx__week-header {
}

.sx__week-grid {
  overflow-y: scroll;
} */
/* Scrollbar */

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
