@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Rubik";
  margin: 0px;
  padding: 0px;
}
:root {
  --primary-color: #3b82f6;
  --secondary-color: #14b8a6;
  --accent-color: #1553aa;
  --text-color: #6b7280;
  --background-color: #f9fafb;
  --other-color: #2b3686;

  /* calender */
  --sx-color-primary: #3b82f6;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Calender Component */

.sx__calendar {
  /* height: 100%; */
  height: calc(100vh - 70px - 45px);
  border-radius: 0;
}
.sx__week-grid__date-number {
  color: var(--text-color);
  /* background-color: var(--primary-color); */
  border-radius: 50%;
}
/* 
.sx__week-wrapper {
  position: relative;
}

.sx__week-header {
}

.sx__week-grid {
  overflow-y: scroll;
} */
/* Scrollbar */

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
